@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
.font-bold {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}
header {
  height: 150px;
}
header.lineup {
  height: 220px;
}
.logo {
  width: 250px;
  position: absolute;
  z-index: 2;
}
.dates {
  float: right;
  font-size: 40px;
  margin-top: 20px;
}
.dates p {
  color: #b00000 !important;
}
.row-nav {
  height: 50px;
  color: #b00000;
  position: relative;
  top: 110px;
  z-index: 1;
}
.row-nav .navbar {
  position: relative;
  background: #b00000;
  min-height: 50px;
  border-bottom: 30px;
  border-radius: 50px;
}
.row-nav .navbar .navbar-lists {
  margin: 0 auto;
  float: right;
  margin-right: -632px;
}
.row-nav .navbar .navbar-lists .menu {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  height: 50px;
  width: 100%;
  display: block;
}
.row-nav .navbar .navbar-lists .menu .active {
  background: #970000;
}
.row-nav .navbar .navbar-lists .menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
.row-nav .navbar .navbar-lists .menu li a {
  float: left;
  padding: 10px 10px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.row-nav .navbar .navbar-lists .menu li a:hover {
  background: #970000;
}
.row-nav .navbar .navbar-lists .menu li a span {
  line-height: 30px;
  float: left;
  display: block;
}
